.mainContent {
  padding: 3%;
  /* header and padding sizes */
  height: calc(100vh - 54px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../../public/eu-space.jpg');
  background-size: cover;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: left bottom;

  background-attachment: fixed;
}

.mainContent * {
  color: black;
}
