@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../public/eu-space.jpg');
  backdrop-filter: blur(3px);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 14px;
  color: white;
}
