.searchField {
  width: 99%;
  margin-bottom: 50px;
  height: 50px;
  border-radius: 4px;
  border: none;
  padding-left: 19px;
  box-sizing: border-box;
}

.submitButton {
  margin-bottom: 50px;
  height: 50px;
  border: none;
  width: 100px;
  margin-left: -100px;
  background: none;
  border-left: 1px solid rgb(167, 166, 166);
  border-radius: 4px;
}
