.worldMap {
  background-color: #eee;
  padding: 30px;
  box-sizing: border-box;
  max-height: 80vh;
  cursor: default;
}

.mouseToolTip {
  position: absolute;
  cursor: default;
  border: 1px solid aliceblue;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 10px;
}

.worldMap path {
  fill: salmon;
}
.worldMap path[data-selected='true'] {
  fill: blue;
}
